---
import { consoleHTML } from "../lib/html-structure"

import "../styles/global.css"
import "../styles/pretty-code.css"

interface Props {
  title: string
}

const { title } = Astro.props

if (import.meta.env.DEV && false) {
  const html = await Astro.slots.render("default")
  consoleHTML(html, { pre: 1, code: 1, line: 7, token: 1 })
}
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
